<%- include("./partials/header") %>
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <%- include("./partials/sections") %>

    <div class="page-content">
      <br>
      <div class="object-content">
        <div class="title">
          Getting sections and images from:
        </div>
        <div class="info">
          https://www.api-onepiece.com/en/documentation
        </div>
      </div>

      <div class="object-content">
        <div class="title">
          Getting json objects for each section from:
        </div>
        <div class="info">
          https://api.api-onepiece.com/v2/{section}/en
        </div>
      </div>

      <div class="object-content">
        <div class="title">
          Getting object values from:
        </div>
        <div class="info">
          https://api.api-onepiece.com/v2/{section}/en/{id}
        </div>
      </div>
    </div>



    <%- include("./partials/footer") %>